:root {
  --fuente-titulo: "Sofia Sans Extra Condensed";
  --fuente-subtitulo: "Varela Round";
  --fuente-productos: "Quicksand";
}

body {
  background-color: #131212;
}

.container {
  width: 40%;
  display: flex;
  flex-direction: row;
}

/*Imágenes*/
.contenedor_imagenes {
  width: 30%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.copa,
.cerveza,
.botella {
  width: 100%;
  height: 33.33%;
}

.copa {
  background-color: #5fa4a3;
}

.cerveza {
  background-color: #e43e49;
}

.botella {
  background-color: #dcc723;
}

img {
  width: 130px;
  height: 180px;
  margin-left: 13px;
  margin-top: 13px;
}
/*Fin imágenes*/

.separador {
  width: 70%;
  height: 5px;
  background-color: #dec624;
  margin-top: 25px;
  margin-bottom: 25px;
}

/*Información*/
.contenedor_informacion {
  width: 70%;
  height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.col-10,
.col-2 {
  display: flex;
  flex-direction: column !important;
}

h1,
h4 {
  font-family: var(--fuente-titulo);
}

h4 {
  color: #5fa4a3cc;
}

h1 {
  font-size: 45px;
  margin-top: 40px;
  color: #e43e49c5;
}

h5 {
  font-family: var(--fuente-subtitulo);
  font-size: 15px;
  color: #efefefc9;
}

span {
  font-family: var(--fuente-productos);
  font-size: 10px;
  color: #efefefcc;
}

.span_rojo {
  color: #e43e49cb;
}
/*Fin información*/
